body {
	font: 15px Arial, Sans-serif;
}

.gallery {
	display: inline-block;
	text-align: center;
	margin: 10px auto;
	clear: both;
	padding: 0;
	padding: 10px;
	/* background-color: #ccc; */
	border-radius: 5px;
}

.gallery img { /* thumbnails */
	width: 100px;
  height: 75px;
}

.block {
	display: inline-block;
	background-color: #ccc;
	border-radius: 5px;
	padding: 8px;
}

pre {
  background-color: #eee;
	border-radius: 5px;
	padding: 8px;
	clear: both;
}

.highlight {
	color: red;
}
ul{
    list-style-type:none;
}
ul.post-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -28px;
}

ul.post-list li {
    width: 31.7%;
    padding: 0;
    margin-right: 2.45%;
    margin-bottom: 28px;
}

/* span.pimage {
    height: 270px;
    width: 370px;
    display: flex;
    align-items: center;
    background: #ccc;
    overflow: hidden
} */

span.pimage a.image-wrap {
    height: 100%;
}

ul.post-list li:nth-child(3n) {
    margin-right: 0;
}
.image-section {
    padding-bottom: 50px;
  }